[Unit]
Description=Autoupdate wait service

Before=shutdown.target poweroff.target reboot.target
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
TimeoutSec=0

[Service]
Type=oneshot
ExecStart=/usr/local/bin/autoupdate-handler --shutdown

[Install]
RequiredBy=shutdown.target poweroff.target reboot.target
